In [1]:
import pandas as pd

In [2]:
import os

In [3]:
path = os.path.join("Resources", "purchase_data.csv")

In [4]:
df = pd.read_csv(path)

In [5]:
df = df

In [6]:
#display the total count of players

In [11]:
pd.DataFrame ([df["SN"].nunique()],columns=['Total Players'])

   Total Players
0            576

In [35]:
summary = [df["Item ID"].nunique(), df["Price"].mean(), df["Purchase ID"].count(), df["Price"].sum()]

In [43]:
pd.DataFrame([summary], columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77