In [1]:
import pandas as pd

In [2]:
import os

In [3]:
import numpy as np

In [4]:
path = os.path.join("Resources", "purchase_data.csv")

In [5]:
df = pd.read_csv(path)

In [7]:
#display the total count of players

In [8]:
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
tot_players_df = pd.DataFrame ([df["SN"].nunique()],columns=["Total Players"])

In [10]:
tot_players_df

   Total Players
0            576

In [11]:
tot_players = sum(tot_players_df["Total Players"])

In [12]:
summary = [df["Item ID"].nunique(), df["Price"].mean(), df["Purchase ID"].count(), df["Price"].sum()]

In [13]:
# create df2 to summarize

In [14]:
df2 = pd.DataFrame([summary], columns=["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])

In [15]:
#Create format dict for dataframe to format dataframe columns with correct $/% and decimal places

In [36]:
format_dict = {"Average Price":"${:.2f}", 
               "Total Revenue": "${:.2f}", 
               "Percentage of Players":"{:.2%}",
               "Average_Purchase_Price":"${:.2f}",
               "Total_Purchase_Value":"${:.2f}",
               "Avg_Total_Purchase_per_Person":"${:.2f}"
              }

In [23]:
df2.style.format(format_dict)

In [28]:
gend_df = df.loc[:,["Gender", "SN"]].drop_duplicates()

In [25]:
gend_df = gend_df.groupby(["Gender"]).size().reset_index(name="Total Count").sort_values(by=['Total Count'], ascending=False)

In [26]:
gend_df["Percentage of Players"] = gend_df["Total Count"].apply(lambda x: x/tot_players)

In [27]:
gend_df.style.format(format_dict)

In [84]:
df3 = df.groupby("Gender").agg(Purchase_Count = ("Gender", "count"),
                                  Average_Purchase_Price = ("Price","mean"),
                                  Total_Purchase_Value=("Price","sum"))

In [85]:
df3.columns = [col[0] if col[-1]==" " else col[-1] for col in df3.columns.values]

In [87]:
df3["Avg_Total_Purchase_Price"] = df3["Purchase_Count"].apply(lambda x:600/x)

KeyError: 'Purchase_Count'

In [82]:
df3.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]

In [83]:
df3

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [74]:
df3

                         t         e        e
Gender
Female                 113  3.203009   361.94
Male                   652  3.017853  1967.64
Other / Non-Disclosed   15  3.346000    50.19